@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1c1c1c;
}

@font-face {
  font-family: overhold;
  src: url(../../public/Overhold.otf);
}

.overhold {
  font-family: overhold;
}

@font-face {
  font-family: cairo;
  src: url(../../public/Cairo.ttf);
}

.cairo {
  font-family: cairo;
}

.banner {
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.popular1 {
  background-image: url(../assets/popular1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular2 {
  background-image: url(../assets/popular2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular3 {
  background-image: url(../assets/popular3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular4 {
  background-image: url(../assets/popular4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular5 {
  background-image: url(../assets/popular5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular6 {
  background-image: url(../assets/popular6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular7 {
  background-image: url(../assets/popular7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular8 {
  background-image: url(../assets/popular8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular9 {
  background-image: url(../assets/popular9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular10 {
  background-image: url(../assets/popular10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular11 {
  background-image: url(../assets/popular11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular12 {
  background-image: url(../assets/popular12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.barber1 {
  background-image: url(../assets/barber1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.barber2 {
  background-image: url(../assets/barber2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.barber3 {
  background-image: url(../assets/barber3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.barber4 {
  background-image: url(../assets/barber4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.map {
  background-image: url(../assets/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.point {
  background-image: url(../assets/point.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.paper {
  background-image: url(../assets/paper.png);
  background-size: contain;
  background-repeat: repeat;
  background-size: 350px;
}

.noiseBlack {
  background-image: url(../assets/noiseBlack.png);
  background-size: contain;
  background-repeat: repeat;
  background-size: 350px;
}

.picture1 {
  background-image: url(../assets/picture1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.picture2 {
  background-image: url(../assets/picture2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.picture3 {
  background-image: url(../assets/picture3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.picture4 {
  background-image: url(../assets/picture4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.picture5 {
  background-image: url(../assets/picture5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.picture6 {
  background-image: url(../assets/picture6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.picture7 {
  background-image: url(../assets/picture7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.picture8 {
  background-image: url(../assets/picture8.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.haircut {
  background-image: url(../assets/haircut.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.skin {
  background-image: url(../assets/skin.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.long {
  background-image: url(../assets/long.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.bread {
  background-image: url(../assets/bread.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.fixedCenterY {
  top: 50%;
  transform: translateY(-50%);
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

.fixedCenterXnY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerShadowTop {
  background: linear-gradient(
    180deg,
    rgb(16, 16, 16) 0%,
    rgba(4, 77, 43, 0) 100%
  );
}

.bannerShadowBot2 {
  background: linear-gradient(
    360deg,
    rgb(28, 28, 28) 1%,
    rgba(28, 28, 28, 0) 50%
  );
}

.bannerShadowTop2 {
  background: linear-gradient(
    180deg,
    rgb(28, 28, 28) 1%,
    rgba(28, 28, 28, 0) 50%
  );
}

.bannerShadowBot3 {
  background: linear-gradient(
    360deg,
    rgb(28, 28, 28) 2%,
    rgba(28, 28, 28, 0) 75%
  );
}

.logoBtn {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.rotateLogo {
  transform: rotate(-45deg);
}

.glowLogo {
  animation-name: gloww;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes gloww {
  from {
    box-shadow: 0px 0px 0px #ffb300, 0px 0px 0px #ffb300;
  }
  to {
    box-shadow: 0px 0px 10px #ffb300, 0px 0px 20px #ffb300;
  }
}

.pointed {
  border-radius: 1px 2px 3px 4px;
}

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: rgb(255, 255, 255);
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1.9px;
  box-shadow: 0px 0px 10px #ffb300, 0px 0px 20px #ffb300;
  background: #ffb300;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
  /* show by default */
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.glass {
  background: rgba(0, 0, 0, 0.684);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
}

.textShadow {
  text-shadow: 0 2px 0 #f4ac07;
}

.glowText {
  animation-name: glowwText;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glowwText {
  from {
    text-shadow: 0px 0px 0px #ffb300, 0px 0px 0px #ffb300;
  }
  to {
    text-shadow: 0px 0px 10px #ffb300, 0px 0px 5px #ffb300;
  }
}

.elementor-shape {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  transform: rotate(-180deg);
  bottom: 0;
}

.elementor-shape2 {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  transform: rotate(-180deg);
  top: 0;
}

.shapeSvg {
  display: block;
  width: 100vw;
  height: 45px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  fill: #1c1c1c;
}

.parallax-effect-img {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.tiltShadow {
  transform: translateZ(40px) scale(0.8);
}

.rotateReview {
  transform: rotate(180deg);
}

.rotateScisssors {
  transform: rotate(45deg);
}

.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
}

.is-current {
  color: #ffb300;
  pointer-events: none;
}

.slideshow {
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 9px;
  width: 20px;
  border-radius: 15px;
  cursor: pointer;
  margin: 15px 15px 25px;
  background-color: #3c3c3c9b;
}

.slideshowDot.active {
  background-color: #ffb300;
  width: 22px;
  box-shadow: 0px 0px 10px #ffb300, 0px 0px 20px #ffb300;
}

html {
  overflow-x: hidden; /* This one is important to avoid the propagation */
}